.wrapper {
  padding: 0px;
  height: 100%;
  max-width: 100%;
  width: 0;
  min-width: 220px;
  margin: 0 auto;
  .notice {
    height: 30%;
    text-align: left;
    position: relative;
    .empty {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
  .userList {
    height: 70%;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    & > div {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .listBox {
      overflow: hidden;
      height: calc(100% - 60px);
      position: relative;
      .scrollBox {
        width: 100%;
        height: 98%;
        overflow: hidden;
      }
    }
    li {
      list-style: none;
      height: 2rem;
      line-height: 2rem;
      padding: 0.2rem;
    }
  }
}
