.item_msg {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  display: flex;
  .web__msg--img,
  .web__msg--video,
  .web__msg--file {
    max-width: 250px;
    min-width: 50px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #eee;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  // .web__msg--img[data-class="iconBox"] {
  //   max-width: 24px;
  //   min-width: unset;
  //   border: none;
  //   margin: 0;
  //   vertical-align: bottom;
  //   display: inline-block;
  // }
}
