//@import url(); 引入公共css类
.systemTalk {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  .title {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #dcdfe6;
  }
  .subtitle {
    font-size: 0.5rem;
  }
}
