.windowBar {
  background: #fff;
  height: 100%;
  min-width: 150px;
  overflow: hidden;
  display: flex;
  border-right: 1px solid #dcdfe6;
  position: relative;
  .toolBarBox {
    $barSize: 60px;
    width: $barSize;
    border-right: 1px solid #dcdfe6;
    img {
      width: 50px;
    }
  }
  .winBarBox {
    padding: 0 5px;
    margin-top: 15px;
    width: calc(100% - 10px);
    height: calc(100% - 20px);
    overflow: hidden;
  }
  .winItem {
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.6s;
    background: #fff;
    user-select: none;
    border: 1px solid #f9f9f9;
    overflow: hidden;
    &:hover {
      background: #f9f9f9;
      .itemOperation {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &.winActive {
      background: #f0f0f0;
    }
    .itemOperation {
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      padding: 0 5px;
      right: 0;
      opacity: 0;
      transform: translateY(100%);
      right: 0;
      :deep(.el-button) {
        margin: 0;
        padding: 0.06rem;
        margin-bottom: 0.4rem;
        &:hover {
          background-color: #f56c6c;
          border-color: #f56c6c;
        }
      }
    }
  }
  :deep(.el-divider__text) {
    padding: 0 5px;
  }
}
